<nav class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="#" class="pure-menu-heading">Voting App</a>

  <ul>
    <li class="pure-menu-selected"><a href="#">Home</a></li>
    <li><a href="#">My voting</a></li>
    <li><a href="#">New voting</a></li>
    <li><a href="#">Sign in with github</a></li>
  </ul>
</nav>
